{% load static %}
    <section class="section" id="about">

        <div class="container">

            <div class="row align-items-center mr-auto">

                {% for x in abaut %}
                <div class="col-md-4">
                    <h6 class="xs-font mb-0">nobis dolorem sapiente evenie.</h6>
                    <h3 class="section-title">{{ x.title }}</h3>
                    <p>{{ x.text }}</p>

                    <a href="javascript:void(0)">{{ x.btn }}</a>
                </div>
                {% endfor %}
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">15+</h4>
                            <p>onsectetur perspiciatis</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">125+</h4>
                            <p>onsectetur perspiciatis</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">3434+</h4>
                            <p>onsectetur perspiciatis</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">80+</h4>
                            <p>onsectetur perspiciatis</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>