{% load static %}
<header id="home" class="header">
    <div class="overlay"></div>

    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
        <div class="container">
            <div class="carousel-inner">
                {% for y in text %}
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="carousel-title">{{ y.text }}</h1>
                        <button class="btn btn-primary btn-rounded">{{ y.btn }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>

    <div class="infos container mb-4 mb-md-2">
        <div class="title">
            <h6 class="subtitle font-weight-normal">Are locking for</h6>
            <h5>Lorem inpsum</h5>
            <p class="font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="socials text-right">
            <div class="row justify-content-between">
                <div class="col">
                    <a class="d-block subtitle"><i class="ti-microphone pr-2"></i> (123) 456-7890</a>
                    <a class="d-block subtitle"><i class="ti-email pr-2"></i> info@website.com</a>
                </div>
                <div class="col">
                    <h6 class="subtitle font-weight-normal mb-2">Social Media</h6>
                    <div class="social-links">
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-google"></i></a>
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-pinterest-alt"></i></a>
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                        <a href="javascript:void(0)" class="link pr-1"><i class="ti-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>